{% extends "base.html" %}

{% block content %}
  
  <h4>Add New Place</h4>
  <form action="#" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" maxlength="100" name="name">
    </div>
    <div class="form-group">
      <label for="neighborhood">Neighborhood:</label>
      <input type="text" class="form-control" maxlength="100" name="neighborhood">
    </div>
    <div class="form-group">
      <label for="sel1">Category:</label>
      <select class="form-control" name="category">
        {% for category in categories %}
        <option>{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea name="description" class="form-control" rows="10" cols="30"></textarea>
    </div>
    <button type="submit" class="btn btn-default" id="submit" type="submit">Create</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  </form>

{% endblock %}